.nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    border: 1px solid #0E464F;
    padding: 5px 15px;
    z-index: 1000;
    left: 50px;
    top: 10px;
    border-radius: 22px;
    background-color: #051e22;
    margin: 20px;
}

.nav-list a {
    padding: 12px;
    color: rgb(158, 157, 157);
    text-decoration: none;
    margin: 10px;
}

.nav-list a:hover {
    color: #fff;
}

.booked {
    padding: 15px 25px;
}



@media screen and (max-width: 768px) {
    .nav-container {
        left: 0;
        width: 95%;
        margin: 10px auto;
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav-list a {
        padding: 10px;
        margin: 5px;
    }

    .booked {
        padding: 12px 20px;
    }
}

@media screen and (max-width: 480px) {
    .nav-container {
        display: none;
        height: 10vh;
        border-radius: 0;
        padding: 8px;
    }

    .nav-list a {
        font-size: 14px;
    }

    .booked {
        padding: 10px 18px;
        font-size: 12px;
    }
}
